@tailwind base;
@tailwind components;
@tailwind utilities;

.myButton {
    outline: none;
    background-color: #1e90ff;
    color: white;
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition pour un effet plus doux */
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.myButton:hover {
    background-color: #1f7ab8ff; /* Plus foncé que le noir pour l'effet de survol */
    /* color: #ddd;   */
}
  
.myButtonRed {
    outline: none;
    background-color: #ff6347; /* Tomate Rouge */
    color: white;
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition pour un effet plus doux */
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.myButtonRed:hover {
    background-color: #e5533d; /* Une nuance plus foncée de rouge pour l'effet de survol */
    /* color: #ddd; (si vous voulez changer la couleur du texte au survol) */
}
  
.myButtonBlue {
    outline: none;
    background-color: #ff6347; /* Tomate Rouge */
    color: white;
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition pour un effet plus doux */
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.myButtonBlue:hover {
    background-color: #e5533d; /* Une nuance plus foncée de rouge pour l'effet de survol */
    /* color: #ddd; (si vous voulez changer la couleur du texte au survol) */
}

.myButtonGrey {
    outline: none;
    background-color: #ccccccff; 
    /* color: white; */
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition pour un effet plus doux */
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: grey;
    border: 1px solid grey;
}
  
.myButtonGrey:hover {
    background-color: black; /* Plus foncé que le noir pour l'effet de survol */
    color: #ddd;   
}

.myBook {
    background-color: #ccf2ff; 
    border: grey;
    border: 1px solid #99d6edff;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.myBookGrey {
    background-color: whitesmoke; 
    border: grey;
    border: 1px solid grey;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.my-book {
    background-color: #ecf7fc; 
    border: 1px solid #99d6edff;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.my-bookbrown {
    background-color: #a57a4f; 
    border: 1px solid #84623fff;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.my-bookblue {
    background-color: #9bb8e3; 
    border: 1px solid #5f8dd3 ;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.my-bookorange {
    background-color: #fcf4ec; 
    border: 1px solid #edc399ff ;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.my-bookpink {
    background-color: #fcecec; 
    border: 1px solid #ed9999ff ;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.my-bookgreen {
    background-color: #cdf1dc; 
    border: 1px solid #87deaaff;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.my-bookpurple {
    background-color: #f4ecfc; 
    border: 1px solid #c399edff;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.custom-shadow-purple {
    box-shadow: 0 10px 15px -3px #c399edff, 0 4px 6px -2px whitesmoke;
}

.custom-shadow-bluelight {
    box-shadow: 0 10px 15px -3px #99d6edff, 0 4px 6px -2px whitesmoke;
}

/* .custom-shadow-brown {
    box-shadow: 0 10px 15px -3px #84623fff, 0 4px 6px -2px #84623fff;
} */

.custom-shadow-brown {
    box-shadow: 0 10px 15px -3px #84623fff, 0 4px 6px -2px whitesmoke; 
}

.custom-shadow-pink {
    box-shadow: 0 10px 15px -3px #ed9999ff, 0 4px 6px -2px whitesmoke;
}

.custom-shadow-blue {
    box-shadow: 0 10px 15px -3px #5f8dd3ff, 0 4px 6px -2px whitesmoke;
}

.custom-shadow-orange {
    box-shadow: 0 10px 15px -3px #edc399ff, 0 4px 6px -2px whitesmoke;
}

.custom-shadow-green {
    box-shadow: 0 10px 15px -3px #87deaaff, 0 4px 6px -2px whitesmoke;
}






  